body{
    text-align: center;
    background-color: lightgray;
    font-family: "Calibri", Verdana, sans-serif;
}

h1{
    font-family: "Times New Roman", serif;
}

.playerdiv{
    background-color: rgb(186, 186, 186);
    margin: 20px;
    padding: 20px;
    border: 3px solid rgb(72, 72, 72);
    width: 30vw;
    margin: 20px auto;
}

.itsme{
    background-color: #d36c6c;
    padding: 20px;
    border: 3px solid #874444;
}

div{
    width: 90%;
    margin: auto;
}

.playerdiv div form input{
    max-width: 30vw;
}

button, input{
    font-size: 16px;
    margin: 10px;
    padding: 13px 25px;
    text-transform: uppercase;
    font-family: "Calibri", Verdana, sans-serif;
}

button, input[type="submit"]{
    border-radius: 5px;
    border: none;
    background-color: darkred;
    color: white;
}

button:focus, , input[type="submit"]:focus{
    background-color: #44444;
}

.wrap button:last-of-type, .playerdiv input[type="submit"]{
    background-color: #2d496b;
}

#viewcookie{
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 20px;
    color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.card{
    padding: 20px;
    background-color: lightsteelblue;
    margin: 10px auto;
    max-width: 45%;
}

@media screen and (max-width: 700px){
    .playerdiv{
        width: 90%;
    }
    h1{
       font-size: 8vw;
    }
    body{
        font-size: 4vw;
    }

    button, input{
        font-size: 4vw;
        margin: 30px;
        padding: 30px;
    }

    button, input[type="submit"]{
        border-radius: 10px;
    }
    .card{
        max-width: 80%;
    }
}
